
<div class="col-sm-5 mx-auto"><div class="card">
    <div class="card-body">
        <h1>About</h1>
        <div class="row">
        <div class="col"><img src="../img/Wallaby.png"  alt="Wallaby"> </div>
        <div class="col"><p>CVI System_2020_v02 fue desarrollado por Sergio Goyzueta para la empresa "Industrias Ualaby" 
            concediendo todo derecho sobre el uso y dominio del software declarado en favor de la empresa
             y su representante legal Ing.Ivo Rojas Montero
        </p></div>
        </div>
    </div>
</div>
</div>