<nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
            <ul class="nav flex-column">
            <li>
                <img src="../../img/logo2.png" alt="Logotipo" class="logo2" width="80" height="80">
                <h5>Panel de control</h5>
            </li>            
                <li >
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" ><strong>Elementos</strong></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="nav-item">
                            <a  href="/inventarios/categorias">Categorias</a>
                        </li>
                        <li>
                            <a href="/inventarios/mopos">MoPo</a>
                        </li>
                        <li>
                            <a href="/inventarios/productos">Productos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/inventarios/existencias"><strong>Existencias</strong></a>
                </li>
                <li>
                    <a href="/inventarios/historial"><strong>Historial</strong></a>
                </li>
            </ul>

      </div>
    </nav>